---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import LinkedInIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/Github.astro";
import EmailIcon from "../components/icons/Email.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout
  description="Portfolio de Yordan"
  title="Portfolio de Yordan - Front-end developer"
>
  <main class="px-6">
    <SectionContainer id="about" class="py-24 md:py-44">
      <h1
        class="flex flex-col items-start md:items-center md:flex-row text-white lg:text-5xl md:text-4xl text-3xl font-bold gap-6 md:gap-4 pb-6 lg:pb-10"
      >
        Hi, I'm Yordan
        <a
          href="https://www.linkedin.com/in/yordan93/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available for work</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-gray-200 text-wrap font-thin max-w-[700px]"
      >
        <span class="font-bold text-white">Web designer</span> and <span
          class="font-bold text-white">Front-end developer</span
        > based in Moscow, Russia. Specializing in UI design and visual development, I create intuitive and engaging user experiences.
      </h2>
      <nav class="flex pt-10 flex-wrap gap-x-2 gap-y-3 md:gap-4">
        <SocialPill href="https://www.linkedin.com/in/yordan93/">
          <LinkedInIcon class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Frame993">
          <GithubIcon class="size-4" />
          Github
        </SocialPill>
        <SocialPill href="mailto:yalvarezb93@gamil.com">
          <EmailIcon class="size-4" />
          yalvarezb93@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="technologies" class="mb-24 md:mb-44 overflow-hidden">
      <Technologies />
    </SectionContainer>
    <SectionContainer id="experience" class="mb-24">
      <h2 class="text-2xl font-semibold text-white mb-10">Work Experience</h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold text-white mb-10">Recent Projects</h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
