
<footer class="rounded-lg mb-10 w-[90%] xl:w-[740px] mx-auto">
    <div class="w-full mx-auto max-w-screen-xl p-x-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-400 sm:text-center">© 2024 <a href="#top" class="hover:text-green-400 transition-all">Yordan Alvarez</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center justify-between mt-3 text-sm font-medium text-gray-400 sm:mt-0">
        <li>
            <a href="#about" class="hover:text-green-400 transition-all me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="#experience" class="hover:text-green-400 transition-all me-4 md:me-6">Experience</a>
        </li>
        <li>
            <a href="#projects" class="hover:text-green-400 transition-all me-4 md:me-6">Projects</a>
        </li>
        <li>
            <a href="#" class='hover:text-green-400 transition-all'>Contact</a>
        </li>
    </ul>
    </div>
</footer>
